footer.footer.section 
    .footer__container.container.grid 
        .footer__content 
            a.footer__logo(href="/")
                img.footer__logo-img(src="/images/logo.png")
                span staque
            
            p.footer__description The only ticket bot you'll ever need
        
        div 
            h3.footer__title Pages

            ul.footer__links 
                li 
                    a.footer__link(href="/") Home
                li 
                    a.footer__link(href="/setup") Setup
                li 
                    a.footer__link(href="/faq") FAQ

        div 
            h3.footer__title Links

            ul.footer__links 
                li 
                    a.footer__link(href="/invite") Invite
                li 
                    a.footer__link(href="/support") Support
                li 
                    a.footer__link(href="/terms") Terms of service
                li 
                    a.footer__link(href="/privacy") Privacy policy
            