
#scroll-up.scrollup
  i.bx.bxs-chevron-up
  
header#header.header 
  nav.nav.container 
    a.nav__logo(href="/")
      img(src="/images/logo.png") 
      span staque 
    #nav-menu.nav__menu 
      ul.nav__list 
        li.nav__item 
          a.nav__link(href="/") Home 
        li.nav__item 
          a.nav__link(href="/setup") Setup 
        li.nav__item 
          a.nav__link(href="/faq") FAQ 
        li.nav__item 
          a.nav__link(href="/invite") Invite 
        li.nav__item 
          a.nav__link(href="/support") Support
      
    #nav-toggle.nav__toggle 
      <i class='bx bx-menu-alt-right'></i>



        

