.dashboard__data {
  background: var(--container-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.container__title {
  margin-bottom: 1.5rem;
}

.dashboard__data-cont {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.guild__icon {
  padding: 1rem;
  background: #22232b;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

.guild__icon:hover {
  background: #1c1d24;
  transition: all 0.2s;
}

.guild__icon img,
.guild__image {
  width: 128px;
  border-radius: 0.3rem;
}

.guild__name {
  margin-top: 1rem;
  font-size: var(--normal-font);
  color: var(--text-color);
  font-weight: 500;
}
.guild_name {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.guild_name img {
  clip-path: circle();
}

.note {
  background: #ff4444;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: left;
}

.note span {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.note span i {
  font-size: 1.5rem;
}

.dashboard__column {
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
  gap: 2rem;
  flex-wrap: wrap;
}

.guild__stats {
  background-color: #23242c;
  padding: 1.75rem;
  border-radius: 5px;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}

.guild__stats-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.guild__stats-title {
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 600;
}

.guild__stats-item-title {
  color: #68727d;
  font-weight: 600;
}

.guild__stats-item-title-color {
  color: #dddddd;
}

.general-settings {
  padding: 1.75rem;
  background-color: #23242c;
  border-radius: 5px;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}

.general-settings-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.save_btn {
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #353946;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.2s;
}

.save_btn:hover {
  transition: all 0.2s;
  background: #2e3038;
  color: #b8b8b8;
}

.general-item {
  color: #68727d;
  font-weight: 600;
}

.general-item select {
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  /* margin-left: 0.5rem; */
  background: #353946;
  color: #dddddd;
  font-weight: 600;
}

.general-item select option {
  outline: 0;
  border: none;
  background: #1f2127;
  color: #dddddd;
}

@media screen and (max-width: 920px) {
  .general-settings-content,
  .guild__stats-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 665px) {
  .general-settings-content,
  .guild__stats-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.form-input {
  outline: none;
  border: none;
  border-radius: 0.25rem;
  background: #353946;
  width: 50%;
  color: var(--text-color);
  padding: 0 0.5rem 0 0.5rem;
}
