@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --header-height: 4.5rem;

  --first-color: #a48ff0;
  --first-color-dark: #9176f3;
  --first-color-light: #bf9afe;
  --title-color: #ffffff;
  --text-color: #c8c9ce;
  --body-color: #1d1e24;

  --body-font: "Poppins", sans-serif;

  --biggest-font: 2rem;
  --h1-font: 1.5rem;
  --h2-font: 1.25rem;
  --h3-font: 1rem;
  --normal-font: 0.983rem;
  --small-font: 0.813rem;
  --smaller-font: 0.75rem;

  --font-semi-bold: 600;
  --font-bold: 700;

  --tooltip: 10;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font: 3rem;
    --h1-font: 2.25rem;
    --h2-font: 1.75rem;
    --h3-font: 1.25rem;
    --normal-font: 1rem;
    --small-font: 0.875rem;
    --smaller-font: 0.813rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body-color);
  margin: var(--header-height) 0 0 0;
  font-size: var(--normal-font);
  font-family: var(--body-font);
  color: var(--text-color);
  transition: all 0.3s;
}

h1,
h2,
h3 {
  font-weight: var(--font-bold);
  line-height: 1.5;
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  min-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background: #131313;
}

::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 1rem;
}

/* ============================================================ */

.section {
  padding: 4.5rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: var(--h2-font);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1rem;
}

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* =========================== Buttons =========================== */

.button__header {
  display: none;
}

/* =========================== Headers =========================== */

.header {
  width: 100%;
  background: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
}

.scroll-header {
  background: #0a0a0a;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background: var(--body-color);
    padding: 2.5rem;
    width: 100%;
    top: var(--header-height);
    height: 100%;
    left: 100%;
    text-align: left;
    margin: 0 auto;
    transition: 0.4s;
    z-index: 100;
    opacity: 0;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.75rem;
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.show-menu {
  left: 0;
  opacity: 1;
  transition: all 0.3s;
}

@media screen and (max-width: 360px) {
  .section {
    padding: 3.5rem 0 1rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }

  .nav__toggle {
    display: none;
  }
}

@media screen and (min-width: 968px) {
  .button__header {
    display: block;
  }

  .mobile__link {
    display: none;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
