.set__doc {
  padding: 2rem;
  padding-left: 0;
}

.set__docT {
  margin-bottom: 1rem;
}

.set__docD {
  line-height: 150%;
  margin-bottom: 2rem;
  line-height: 200%;
}

.set__doc2 ul {
  list-style: inside;
  list-style-type: disc;
  line-height: 200%;
  margin-bottom: 2rem;
}

.set__doc2 ul li {
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  line-height: 200%;
}

.set__item-first {
  font-weight: 600;
  color: #ffffff;
}

.set__item-last {
  color: #76777c;
}
