doctype html

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title staque
  meta(property='og:title', content='staque')
  meta(property='og:description', content='A ticket bot that isn\'t short on features!\n The ideal Discord bot for managing tickets on and around your server.')
  meta(property='og:image', content='/images/logo-bg.png')
  link(rel="shortcut icon", href="/images/logo.png", type="image/png")
  link(rel='stylesheet', href='/css/main.css')
  link(rel='stylesheet', href='/css/faq.css')
  link(href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css', rel='stylesheet')

body 
  include nav.pug
  section.accordion.container.section
    .accordion__container.grid
      .accordion__item
        header.accordion__header.hover_element
          i.bx.bx-plus.accordion__icon
          h3.accordion__title What is staque?
        .accordion__content
          p.accordion__description
            | Staque is a ticket bot that allows you to communicate with 
            | other members of your server; it is simple to set up and use.
      .accordion__item
        header.accordion__header.hover_element
          i.bx.bx-plus.accordion__icon
          h3.accordion__title I am unable to create tickets. How can I resolve this?
        .accordion__content
          p.accordion__description
            | Make sure that the @staque role is higher than the @everyone role. If you 
            | are still having problems, please join our support server.
      .accordion__item
        header.accordion__header.hover_element
          i.bx.bx-plus.accordion__icon
          h3.accordion__title
            | How do I add a personalized description to the ticket panel?
        .accordion__content
          p.accordion__description
            | When you use the
            span.codeblock /settings edit
            |  command, you are prompted to enter a description; you can enter your own here. This  
            |  will be available as a dashboard option in the near future.
      .accordion__item
        header.accordion__header.hover_element
          i.bx.bx-plus.accordion__icon
          h3.accordion__title How do I blacklist someone?
        .accordion__content
          p.accordion__description
            | After you've configured your server with 
            span.codeblock /settings edit
            | , you can use 
            span.codeblock /ticket_bl
            |  to prevent a user from creating tickets.
  include footer.pug

  script.
    const accordionItems = document.querySelectorAll(".accordion__item");
    accordionItems.forEach((item) => {
    const accordionHeader = item.querySelector(".accordion__header");
    accordionHeader.addEventListener("click", () => {
    const openItem = document.querySelector(".accordion-open");
    toggleItem(item);
    if (openItem && openItem !== item) {
    toggleItem(openItem);
    }
    });
    });
    const toggleItem = (item) => {
    const accordionContent = item.querySelector(".accordion__content");
    if (item.classList.contains("accordion-open")) {
    accordionContent.removeAttribute("style");
    item.classList.remove("accordion-open");
    } else {
    accordionContent.style.height = accordionContent.scrollHeight + "px";
    item.classList.add("accordion-open");
    }
    };

  script(src='js/main.js')
