doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title staque
  meta(property='og:title', content='staque')
  meta(property='og:description', content='A ticket bot that isn\'t short on features!\n The ideal Discord bot for managing tickets on and around your server.')
  meta(property='og:image', content='/images/logo-bg.png')
  link(rel="shortcut icon", href="/images/logo.png", type="image/png")
  link(rel='stylesheet', href='/css/main.css')
  link(rel='stylesheet', href='/css/home.css')
  link(href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js', integrity='sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==', crossorigin='anonymous', referrerpolicy='no-referrer')

//- https://cdn.discordapp.com/attachments/833234791431667713/925755633435815966/logo1.png
//- https://cdn.discordapp.com/attachments/923892443773034536/926369937625341963/unknown.png
body
  include nav.pug

  main.main  
    section.section.home
      .container.grid.home__container
        img.home__img(src="/images/logo-full.png", alt="" )

        div.home__data
          h1.home__title A ticket bot that isn't short on features!
          p.home__description The ideal Discord bot for managing tickets on and around your server. 
            br
            | We genuinely care about your server and its members, and this bot is the only tool you'll need to communicate with them.
          a.button(href="/invite") Invite 

    section.section.features 
      h2.section__title Features
      .container.grid.features__container 
        .features__card 
          .features__card-left  
            i.bx.bx-check-shield.features__icon
            .features__card-title Secure

          .features__card-right 
            p.features__card-description We don't ask for much; the bot only requires Manage Channels and Manage Roles permissions.

        .features__card 
          .features__card-left  
            i.bx.bx-transfer.features__icon
            .features__card-title Transcripts

          .features__card-right 
            p.features__card-description You have the option of saving all of your ticket transcripts! We also have a separate, albeit optional, button for it.

        .features__card 
          .features__card-left  
            i.bx.bx-message-square-dots.features__icon
            .features__card-title Community

          .features__card-right 
            p.features__card-description We have a wonderful community that is always willing to assist you when you need it!
    
    section.section.bl 
      .container.bl__container.grid   
        h2.section__title Commands
        .bl_timeline 
          ul 
            li
              .bl_timeline-card
                h2.bl_timeline-title /settings view
                p.bl_timeline-desc View the bot's current server settings.
            li
              .bl_timeline-card
                h2.bl_timeline-title /settings edit
                p.bl_timeline-desc Change the bot's settings for your server.
            li
              .bl_timeline-card
                h2.bl_timeline-title /ticket_bl
                p.bl_timeline-desc Prevent a user from creating tickets in the future by blacklisting them.
  
  include footer.pug

  
  script(src='js/main.js')
