
#scroll-up.scrollup
  i.bx.bxs-chevron-up
  
header#header.header 
  nav.nav.container 
    a.nav__logo(href="/")
      img(src="/images/logo.png") 
      span staque 
    #nav-menu.nav__menu 
      ul.nav__list 
        li.nav__item 
          a.nav__link(href="/") Home 
        li.nav__item 
          a.nav__link(href="/setup") Setup 
        li.nav__item 
          a.nav__link(href="/faq") FAQ 
        li.nav__item 
          a.nav__link(href="/invite") Invite 
        li.nav__item 
          a.nav__link(href="/support") Support
        if user 
          li.nav__item 
            a.nav__link.mobile__link(href="/dashboard") Dashboard
          li.nav__item 
            a.nav__link.mobile__link(href="/logout") Logout
        else 
          li.nav__item 
            a.nav__link.mobile__link(href="/login") Login
      
    #nav-toggle.nav__toggle 
      <i class='bx bx-menu-alt-right'></i>

    if user
      div.button__header-div  
        .dropdown 
          img#drop-toggle.user__avatar(src=user.avatarUrl(32))
          #dropdown-cont.dropdown-cont 
            a.button__header.dropdown_btn(href="/dashboard") Dashboard 
            a.button__header.dropdown_btn(href="/logout") Logout
    else 
      div.button__header-div
        a.button__header.dropdown_btn(href="/login") Login 

        

