header#header.header 
  nav.nav.container 
    a.nav__logo(href="#") Polygon 
    #nav-menu.nav__menu 
      ul.nav__list 
        li.nav__item 
          a.nav__link(href="/") Home 
        li.nav__item 
          a.nav__link(href="/setup") Setup 
        li.nav__item 
          a.nav__link(href="/faq") FAQ 
        li.nav__item 
          a.nav__link(href="/invite") Invite 
        li.nav__item 
          a.nav__link(href="/support") Support
        if user 
          li.nav__item 
            a.nav__link.mobile__link(href="/dashboard") Dashboard
          li.nav__item 
            a.nav__link.mobile__link(href="/logout") Logout
        else 
          li.nav__item 
            a.nav__link.mobile__link(href="/login") Login
      
    #nav-toggle.nav__toggle 
      <i class='bx bx-menu-alt-right'></i>

    if user
      a.button.button__header(href="/dashboard") Dashboard 
      img.user__avatar(src=user.avatarUrl(32))
    else 
      a.button.button__header(href="/login") Login 

        

