doctype html

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title staque
  meta(property='og:title', content='staque')
  meta(property='og:description', content='A ticket bot that isn\'t short on features!\n The ideal Discord bot for managing tickets on and around your server.')
  meta(property='og:image', content='/images/logo-bg.png')
  link(rel="shortcut icon", href="/images/logo.png", type="image/png")
  link(rel='stylesheet', href='/css/main.css')
  link(rel='stylesheet', href='/css/setup.css')
  link(href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js', integrity='sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==', crossorigin='anonymous', referrerpolicy='no-referrer')
  link(rel='stylesheet', href='https://unpkg.com/swiper@7/swiper-bundle.min.css')
  script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')

body#setup-body
  include nav.pug 

  main.main 
    section.set.section 
      .set__container.container.grid
        .set__doc 
          h1.set__docT Inviting the bot to your server
          p.set__docD  First and foremost! Let's begin by adding this bot to your wonderful server!
          a.button(href="/invite") Invite

        .set__doc.set__doc2
          h1.set__docT Setting everything up!
          p.set__docD  Alright! Now that you've added the bot to your server, you can begin configuring it by running
            span.codeblock /settings edit 
            | within your server! 
          ul 
            li.set__item 
              span 
                span.set__item-first channel: 
                | The channel in which the ticket creation panel will be setup. 
                span.set__item-last  For example: #open-ticket, #tickets
            li.set__item 
              span 
                span.set__item-first transcripts: 
                | The channel where you want to save your ticket transcripts.
                span.set__item-last  For example: #modlogs, #ticket-transcripts
            li.set__item
              span 
                span.set__item-first category: 
                | The ticket management category in which you want to manage your tickets.
                span.set__item-last  For example: #tickets
            li.set__item 
              span 
                span.set__item-first blacklist: 
                | When you use the /blacklist command, this is the role that will be assigned to users.
                span.set__item-last  For example: @ticket_bl
            li.set__item 
              span
                span.set__item-first manager: 
                | The ticket managers who can handle your tickets.
                span.set__item-last  For example: @Staff, @Mod
            li.set__item 
              span 
                span.set__item-first first btn, second btn, third btn: 
                | The custom button names for your tickets panel buttons.
                span.set__item-first  Check that they are not in caps and do not contain any special characters.
          a.button(href="/faq") FAQ

        .set__doc.set__doc2
          h1.set__docT Viewing your current settings
          p.set__docD If you suspect a problem with the configuration, simply run  
            span.codeblock /settings view 
            | in your server; if you need to change something, simply run 
            span.codeblock /settings edit 
            | again.
        .set__doc.set__doc2
          h1.set__docT Blacklisting users 
          p.set__docD Our blacklist command is very simple; simply type 
            span.codeblock /ticket_bl 
            | to prevent a user from creating any new tickets until they are whitelisted again. 
          ul 
            li.set__item 
              span 
                span.set__item-first target: 
                | The user/target you want to blacklist, as the name implies.
            li.set__item 
              span 
                span.set__item-first reason: 
                | The reason for the target's blacklisting.
            li.set__item 
              span 
                span.set__item-first duration: 
                | The time period for which you want that target to be blacklisted. It must be expressed in seconds, minutes, hours, days, or weeks. The time unit can be specified with the characters "s", "m", "h", "d", or "w". Please keep in mind that this feature may not function properly because the bot may go offline from time to time, but don't worry! We save all of your ticket information in our database.   
          


  include footer.pug
  script(src='js/main.js')
